*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(10, 10, 9);
}a{
    text-decoration: none;
}
header{
    height: 100vh;
}
.navbar{
    background-color: black;
    position: fixed;
    z-index: 2;
    left: 0%;
    width: 100%;
    opacity: 0.7;
}
.navbar_nav{
    width: 100vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}
.logo{
    display: flex;
    align-items: center;
    padding: 3px;
    margin-left: -90px;
}
.logo img{
    width: 9vw;
}
.logo h1{
    font-size: 45px;
    color: orange;
    font-family:Oswald;
    margin: 5px;
    padding-left: 10px;
}
.bolimlar{
    padding: 5px;
    font-size: 23px;
}
.bolimlar a{
    font-family: Oswald;
    color: white;
    padding: 10px;
    opacity: 0.5;
    text-decoration: none;
}
.bolimlar button{
    width: 13vw;
    height: 8vh;
    border-radius: 20px;
    background-color:#03a9f4;
    transition: 0.5s ease;
    cursor: pointer;
    margin-left: 30px;
    font-family: Oswald;
}
.picture{
    object-fit: cover;
    position: relative;
    margin: 0;
    background-attachment: fixed;
    display: block;
    top: 17%;
}
.picture img {
    width: 100%;
    height: 100%;
}

/*    End of header    */
.togaraklar{
   
   text-align: center;
}
.togaraklar h1{
    color: white;
    font-size: 60px;
    font-family: Oswald;
    padding: 10px;
    opacity: 0.8;
}
.togarak_turlari{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    margin-top: 45px;
}
.boxing img{
    width: 470px;
    height: 400px;
    margin-left: 10px;
}
.tarif_bixing{
    text-align: center;
    font-size: 30px;
    font-family: Oswald;
    color: white;
    margin: 40px;
}
.tarif_bixing p{
    font-size: 15px;
   padding: 30px;
    
}