.row{
    height: 80px !important;
}


.kirish{
    cursor: pointer;
}

.fas{
    margin-right: 10px;

}.container{
    background-color: #eff86c;
    font-family: 'sf';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;

}.menu{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 40%;
    
}.menu h1{
    text-align: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding:20px 40px;
    margin: 0;
}.form{
    padding: 30px 40px;
}.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    font-size: 14px;
    display: inline-block;
    margin-bottom: 2px;
}.form-control input{
    display: block;
    border-radius: 4px;
    font-size: 18px;
    
    border: 2px solid #f0f0f0;
    width: 97%;
}.form-control i{
    position: absolute;
    top: 30px;
    right: 1px;
    visibility: hidden;

}
.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    
}.checkbox p{
    font-size: 14px;
    text-align: center;
}.checkbox label{
    margin-bottom: 0;
}.checkbox input{
    position: relative;
    right: 50px;
    bottom: 15px;
}.radio input{
    position: relative;
    right: 50px;
    bottom: 15px;
}


button{
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
    
}button a{
    font-size: 18px;
}
.form-control button{
    border: 2px solid aquamarine;
    background-color: aquamarine;
    color: #333;
    font-size: 16px;
    padding: 30px 20px;
    cursor: pointer;
    
}.form-control~a{
    color: #333;
    font-size: 16px;
    padding: 30px 20px;
}


.form-control.succes input{
    border-color: #2ecc71;
}.form-control.error input{
    border-color: #e74c3c;
}.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}.form-control.succes i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}