:root{
  --pink:rgb(61, 57, 57);
  font-size:62.5%;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  box-sizing: border-box;
}.container{
width: 1140px;
margin: 0 auto;
}


.buton{
  padding: 1rem;
  margin-top: 0.8rem;
  background-color: #fff;
  
  font-size: 1.2rem;
  border-radius: 1.5rem;
  border-color: #49a0ae;
  
}.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}.flex2{
  display: flex;
  justify-content: center;
  align-items: center;
}


.section1-togaraklar{
  background-color:var(--pink);
  padding-bottom: 10rem;
  
  position: relative;
}
.chiziq1{
  position: absolute;
  top: -0.5rem;
  left: -30rem;
}
.chiziq2{
  position:absolute;
  bottom: 4rem;
  left: 40rem;
}.orqa-fon{
  position: absolute;
  left: 10rem;
  top: 55rem;
  opacity: 0.4;
}
.togarak-title{
  text-align: center;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 8.5rem;
  padding-bottom: 8rem;
  padding-top: 10rem;
  color: #Fff5ff;
  text-transform: capitalize;
}.title{
  font-size: 6.5rem;
}
.gym-grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.gym{
  background-color:hsl(219, 100%, 100%);
  width: 240px;
  height: 260px;
  text-align: center;
  border-radius: 0.8rem;
  box-shadow: -2px 1px 12px 10px rgba(34, 60, 80, 0.03);
  transition: all 0.5s ease;
  margin: 1rem;
  padding-top: 2rem;
  

}
.togarak-subtitle{
  font-size: 1.4rem;
  
  padding: 1rem;
}.gym img{
  width: 4rem;
  padding-bottom: 1rem;
}.gym:hover{
  box-shadow: 0px 8px 25px 5px hsl(300, 4%, 35%);
}
.little-title{
color: #000;
  font-weight: 600;
  font-size: 2.5rem;
  padding-bottom: 10px;
  
}.togarak-btn{
  
  position: relative;
  z-index: 2;
  
  border: #49A0AE 2px solid;

}.togarak-btn3{
  top: 2rem;
}

.gym :hover.buton{
  box-shadow: -2px 1px 12px 10px rgba(34, 60, 80, 0.03);
  color:#fff;
  background-color:#49a0ae ;

}.gym2,.gym4{
  margin-top: 20rem;
}




.section2-murabbiylar{
  background-color:var(--pink);
  height: 120vh;
  
}.hr{
border-top: 0.5px solid black;
}
.section3-sertifikatlar{
background-color:var(--pink);
  height: 120vh;
  
padding-bottom: 10rem!important;
}.sertifikatlar{
margin-top: 5rem;
display: flex!important;
justify-content: space-between;
align-items: center;
padding-bottom: 0;

}
.sertifikat{
width: 30rem;

transition: all 0.3s ease;
box-shadow: 4px 4px 10px 8px  rgb(44, 48, 49);
position: relative;
margin-left: 25px;
box-sizing: border-box;

}.sertifikat:hover{

box-shadow: -2px 1px 22px 8px  hsl(125, 60%, 24%);

}

.mijoz-title{
padding-top: 0;
position: relative;
margin-top: 0;
top: -10rem;
color: red;
}
.overlay2{
position: absolute;
 top: 50%;
 left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(92,95,236,0.6);
  cursor: pointer;
 
  z-index: 1;
}
.overlay2{
opacity: 1;
transition: all 0.4s linear;
}
.sertifikat:hover .overlay2{
opacity: 0;
}


  
.sertifikat-text{
position: absolute;
width: 100%;
height: 15rem;
left: 0;
bottom: 0rem;
background-color: hsl(219, 100%, 100%);
z-index: 2;
text-align: center;
}
.sertifikat img{
width: 100%;
}.sertifikat-img1{
width: 30rem;
}.sertifikat-subtitle{
font-size: 1.6rem;
}.title{
padding-top: 1.5rem;
}.section4-mijozlar{
width: 100vw;
min-height: 70vh;
background-color: var(--pink);
}



.flex-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}
.slider-wrapper{
  max-width: 800px;
  height: 490px;
  width: 100%;
  position:relative;
  border-radius: 15px;
  box-shadow: 6px 9px 16px 1px rgba(0, 0, 0, 0.38);
}
#btn-prevs,#btn-nexts{
  position: absolute;
  left:0;
  top: 0;
  height: 109%;
  width: 30%;
  background-color: grey ;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity  .2s ease-in-out;
}#btn-prevs:hover,#btn-nexts:hover{
  opacity: 0.4;
}#btn-nexts{
  left: auto;
  right: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 15px;
  
  
  
}#btn-prevs{
  width: 5rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.slider2 img{
  width: 100%;
  border-radius: 15px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 20px;
  
}
.slider2{
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  object-fit: cover;
  border-radius: 15px;
}
.dots-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 60px;

}.dotted.active{
  background-color: #49a0ae;
  transition: opacity  2s ease-in-out;

  
}.slider2.active{
  display: block;
  

}.dotted{
  position: relative;
  z-index: 1;
  width: 15px;
  height: 15px;
  background-color: #4E7D96;
  border-radius: 50%;
  margin-right: 10px;
  cursor:pointer;
  top :481px;
  right: 441px;   

}
.first{
 z-index: 2;
 padding: 8px;
 
  background-image: url('img_tree.gif');
}
.second{
  z-index: 2;
  padding: 10px;
  
   background-image: url('img_tree.gif');
}
.third{
  margin-right: 0;
}




.text{
background-color: white;
position: absolute;
bottom: -9%;right: 0;
width: 30%;
height: 109%;
opacity: 1;


border-radius: 15px 50px 30px 5px;
overflow: hidden;

text-align: justify;
padding:40px 30px 10px 40px;



}
.mijoz-text{

font-style: italic;
font-weight: normal;
font-size: 18px;

color:#333;

}.mijoz-t{
  margin-top: 20px;
}

.mijoz-add{
font-style: italic;
font-weight: normal;
margin-top: 20px;
font-size: 18px;
color: #989898;
}.carousel-item{

width: 100%;
color: white;
position: relative;


margin-bottom: -50px;

}
.container{
display: flex;
justify-content: center;
background:var(--pink) ;

}
.mijoz-para{
width: 20rem;
height: 30rem;
border-radius: 15px 50px 30px 5px;
padding:10px 30px 10px 40px;

}
.slider-item{
width: 300px;
box-shadow: 2px 2px 30px rgba(0,0,0,0.2) ;
border-radius: 10px;
overflow: hidden;

}footer{
min-height: 30vh;;
padding-top: 20px;


align-items: start;
background-color: #333;
}footer h3{
  color: #Fff5ff;
}
.flex3{

align-items: start;
}.footer p{
font-size: 17px;
font-weight: 400;
color: #898989;
}.yagona{
color: #fff;
font-weight: 400;
}
























.wrapper{
  height: 100%;
  padding: 10px;
}
.slick-track{
  display: flex;
  align-items: flex-start;
}
.slick-list{
  overflow: hidden;
}
.slider{
  position: relative;
  padding: 0 50px;
}

.slider-item{
  margin: 0 10px;
}
.slider .slick-arrow{
  position: absolute;
  top:45%;
  z-index: 2;
  font-size: 0;
  width: 30px;
  height: 60px;
  cursor: pointer;

}
.slider .slick-arrow.slick-prev{
  background: url('https://cdn-icons-png.flaticon.com/512/189/189260.png') 0 0 / 100% no-repeat;
  background-color: transparent;
  border: none;
  
  left: 0;
}.slider .slick-arrow.slick-next{
  background: url('https://cdn-icons-png.flaticon.com/512/189/189259.png') 0 0 / 100% no-repeat;
  background-color: transparent;
  right: 0;
  border: none;
}.slider .slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}.slider .slick-dots li{
  list-style: none;
  
}
.slider .slick-dots button{
  border-radius: 50%;
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: #4E7D96;
  opacity: 0.2;
  margin: 30px 10px;
  cursor: pointer;
  border: none;
}.slider .slick-dots li.slick-active button{
  background-color: #49a0ae;
  opacity: 1;
  
}






.slider-item{
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2) ;
  border-radius: 10px;
  overflow: hidden;
 
}
.box{
  height: 480px;
  position: relative;
}.box img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.detail-box{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 2;
  bottom: 5px;

}.type{
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

}
.type a{
  color: #fff;
  margin: 5px 0;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
  font-size: 2.5rem;

  
}.type span{
  color:#fff;
  font-size: 1.8rem;
}
.price{
  color: #333;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  opacity: 0;
}.overlay{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(92,95,236,0.6);
  display: flex;
  justify-content: center;align-items: center;
}
.buy-btn{
  width: 160px;
  height: 40px;
  display: flex;
  position: relative;
  top: 10rem;
  justify-content: center;
  align-items: center;
  background-color:#000;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: rgba(0,0,0,0.2);

}.buy-btn:hover{
  color: #fff;
  background-color: rgba(92,95,236,0.6);
  transition: all ease0.3s;
}.overlay{
  visibility: hidden;
}
.box:hover .overlay{
  visibility: visible;
  animation: fade 1s;
}
@keyframes fade{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}a{
  text-decoration: none;
}















