.hamburger{
    display: none;
}

@media(max-width:767px){
.gym-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
}.gym{
    margin-right: 5rem;
}
.orqa-fon{
    position: absolute;
    top: 108rem;
}

.section2-murabbiylar{
    height: 140vh;
}
.section3-sertifikatlar{
    height: 194vh!important;
    background-color: rgb(61, 57, 57);
}
.sertifikatlar{
    display: grid!important;
    gap: 2rem ;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
}
.sertifikat{
    width: 25rem;
}
.slider-wrapper{
    height: 280px;
    position: relative;
}.dotted{
    position: relative;
    top: 256px;
    left: -295px;

}.text{
    width: 40%;
}#btn-prevs,#btn-nexts{
    width: 40%;
}#btn-prevs{
    width: 3rem;
}

.mijoz-text{

   
    font-size: 12px;
    
    color:#333;
    
    }.mijoz-t{
      font-size: 14px;
    }
    
    .mijoz-add{
    
    font-size: 14px;
    color: #989898;
    }

    .member{
        opacity: 0;
    }
}

.bosh-yozuv{
    text-decoration:none  !important;
    color: #ef7622 !important;
  }



@media(max-width:576px){
    header{
        position: relative;
    }
    .gym-grid{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;

}.row{
    width: 100vw;
    height: 10vh;
    z-index: 22222;
}.main_video video{
    width: 100%;
    height: 56vh;
}.animate__rubberBand{
    width: 80px !important;
}.align_workout h1{
top: -256px;
}.align_workout p,.natija h1,.sport{
    opacity: 0;
}.member2{
    display: block;
    padding: 3px;
    color: whitesmoke;
    border-radius: 5px;
    background-color: cornflowerblue;
    border: none;
    margin-right: 5px;
    align-self: center;
    position: relative;
    right: 20px;
    bottom: 5px;
}.member2 button{
    background-color: transparent;
    border: none;
}

.bosh-yozuv{
    opacity: 0;
}.mobile-nav{
    opacity: 0;
}
.member button{
 opacity: 0;
}.bolimlar{
    display: none;
}
.hamburger{
    display: block;
    opacity: 1;
    position: absolute;
    right: 2rem;
    top: 3rem;
    min-width: 35px;
    min-height: 35px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    
}.hamburger .bar, .hamburger:after,.hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.5s;
}.hamburger.is-active:before{

    transform: rotate(-45deg) translate(-8px,7px);
}
.hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px ,-8px);
}

a{
    text-decoration: none !important;
}
.hamburger.is-active .bar{
    opacity: 0;
}.mobile-nav.is-active{
    opacity: 1;
}

.mobile-nav{
    opacity: 0;
    width: 100vw;
    position: fixed;
    z-index: 2222;
    display: flex;
    top: 9rem;
    justify-content: space-between;

}.mobile-nav a{
    color: #fff;
    font-size: 12px;
}.client{
    margin-left: 30px;
}
.gym3{
   margin-top: 20rem;
}.togarak-title{
    font-size: 2.5rem;
    position: relative;
    bottom: 100px;
}

.orqa-fon{
    opacity: 0;
}
.sertifikatlar{
    display: grid!important;
  
    grid-template-columns: auto;
   
    justify-content: center;
}
.sertifikat{
    width: 30rem;
    position: relative;
    bottom: 8rem;
}.ser{
    opacity: 0;}

    .slider-wrapper{
       min-height: 210px;
       position: relative;
    }.slider2{
        height: 100%;
    }.slider2 img{
        height: 100%;
    }.flex-wrapper{
        position: relative;
    }
    .dotted{
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
    
    }.text{
     
        padding: 5px;
        width: 45%;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
    }#btn-nexts{
        width: 46%;
        height: 100%;
    }#btn-prevs{
        width: 3rem;
        height: 100%;
    }
    
    .mijoz-text{
    
       padding:5px 5px 0 5px ;
        font-size: 12px;
        margin-left: 0;
        text-align: justify;
        
        color:#333;
        
        }.yoq{
            display: none;
        }
        .mijoz-t{
          font-size: 12px;
          margin-bottom: 0;
        }
        
        .mijoz-add{
        
        font-size: 12px;
        color: #989898;
        }
}