*{
    margin: 0;
    padding: 0;
}a{
    text-decoration: none;
}
body{
    background-color: black;
}
header{
    height: 100vh;
}
.navbar{
    background-color: black;
    position: fixed;
    z-index: 2;
    left: 0%;
    width: 100%;
    opacity: 0.7;
}
.navbar_nav{
    width: 100vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}
.logo{
    display: flex;
    align-items: center;
    padding: 3px;
    margin-left: -90px;
}
.logo img{
    width: 9vw;
}
.logo h1{
    font-size: 45px;
    color: orange;
    font-family:Oswald;
    margin: 5px;
    padding-left: 10px;
}
.bolimlar{
    padding: 5px;
    font-size: 23px;
}
.bolimlar a{
    font-family: Oswald;
    color: white;
    padding: 10px;
    opacity: 0.5;
    text-decoration: none;
}
.bolimlar button{
    width: 13vw;
    height: 8vh;
    border-radius: 20px;
    background-color:#03a9f4;
    transition: 0.5s ease;
    cursor: pointer;
    margin-left: 30px;
    font-family: Oswald;
}
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    display: block;
}
.working_trennir{
    position: absolute;
    font-family: Oswald;
    color: white;
    top: 50%;
    z-index: 1;
}
.working_trennir h1{
   font-size: 100px;
   padding: 10px;
   opacity: 0.8;
}
/*   END OF HEADER SECTION  */

 /* START OF MAIN SECTION  */
.tanlov{
    margin-top: 15%;
    margin-left: 16%;
    padding: 15px;
    
}
.tanlov h1{
    font-size: 60px;
    color: white;
    opacity: 0.5;
    font-family: Oswald;
}
.tanlov p {
    font-size:30px;
    font-family: Oswald;
    color: white;
    opacity: 0.5;
}
.murabiylar{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.img_item img{
    width:22vw;
    border-radius:15px 15px 0 0;
}
.img_item {
    position: relative;
}
.about_trenner{
    background-color:white;
    width: 22vw;
    height: 37vh;
    opacity: 0.5;
    border-radius:0 0 15px 15px ;
}
.about_trenner h1{
   font-size: 30px;
   font-family: Oswald;
   padding: 10px;
   text-align: center;
}
.about_trenner p{
    font-size: 20px;
    font-family: Oswald;
    line-height: 25px;
    padding: 10px;
} 
.banner_all{
    display: flex;
    justify-content: center;
}
.about_trenner span{
    padding: 10px;
    font-size: 20;
}
.img_item span i{
    color: blue;
    z-index: 4;
}
